.user {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 0;
  border-top: 1px solid var(--color-lightgray);
  align-items: center;
}

.status,
.role,
.action {
  display: flex;
  align-items: center;
}

.name {
  width: 40%;
}

.status,
.role {
  width: 25%;
}

.action {
  width: 15%;
}
