.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;

	border-top: 1px solid var(--color-light-gray);
	padding: 1rem 0;
}

.name {
	width: 40%;
	font-weight: 500;
}

.status,
.role,
.action {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.action button {
	cursor: pointer;
}
