.wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;

	border-top: 1px solid var(--color-light-gray);
	padding: 1rem 0;
}

.name {
	width: 60%;
}

.status,
.role {
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.name span {
	font-weight: 600;
}
