.role {
  font-size: var(--text-sm);
  padding: 0.5rem 0.75rem;
  border-radius: var(--radius-sm);
}

.teacher {
  background-color: var(--color-lightblue);
}

.student {
  background-color: var(--color-lightred);
}

.other {
  background-color: var(--color-lightgray);
}
